// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Aligns

.text-center{
    text-align:center;
}

//fonts
.big-font{
    font-size: 1.2em !important;
}
.white-text{
    color: #fff;
}
.sc-ion-card-md-h{
    background-color: #000;
    border-radius: 10px;
    color: white;
}

@media only screen and (min-width: 900px){
    .sc-ion-card-md-h{
        margin-right: auto;
        margin-left: auto;
        width: 70vw;
        transition: all 0.4s;
    }
}
