<ion-header>
  <ion-toolbar>
    <ion-title color="dark">
      Inventario de productos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create"><ion-icon name="add-circle"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let info of infos">
    <ion-card class="text-center">
      <ion-card-header>
        <h1 class="white-text text-center big-font">{{info.info_title}}</h1>
      </ion-card-header>
      <ion-card-content>
        <ion-button [routerLink]="['/detail', info.key]">Ver</ion-button>
        <ion-button [routerLink]="['/edit', info.key]" color="secondary">Editar</ion-button>
        <ion-button (click)="delete(info.key)" color="danger">Eliminar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>